
    <section class="main-slider">
            <ul class="bxslider">
             {% for i in 0..2%}
                <li>
                    <div class="slider-item" style="height:400px; background-image : url('{{ lastNews[i].imgUrl }}'); background-size: cover">
                        <h2><a href="{{ path('post_view', {id: lastNews[i].id}) }}" title="{{ lastNews[i].title }}">{{ lastNews[i].title }}</a></h2>
                    </div>
                </li>
               {% endfor %}
            </ul>
        </section>
      